<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="offcanvas offcanvas-end" tabindex="-1" id="notificationCanvas"
     aria-labelledby="notificationCanvasLabel" th:fragment="notification">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="notificationCanvasLabel" th:text="${notification_title}"></h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div th:if="${session.account != null}">
            <div class="alert alert-info" role="alert">
                🔔 Bạn có 2 bài đăng mới cần duyệt
            </div>
            <!--        <div class="alert alert-success" role="alert">-->
            <!--            🔔 Có tin nhắn mới từ chủ trọ-->
            <!--        </div>-->
        </div>
        <div th:if="${session.account == null}">
            <div class="alert alert-warning">
                Bạn cần phải đăng nhập hoặc đăng ký để xem thông báo
            </div>
        </div>
    </div>
</div>
</body>
</html>