<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container my-4" th:fragment="search">
    <div class="input-group">
        <label for="search"></label>
        <input id="search" type="text" class="form-control" th:placeholder="${search_placeholder}">
        <button class="btn btn-primary">
            <i class="fas fa-search"></i>
            <span th:text="${search_title}"></span>
        </button>
    </div>
</div>
</body>
</html>