<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="bg-dark text-white text-center py-3 mt-5 footer" th:fragment="footer">
    <link rel="stylesheet" th:href="@{/css/components/footer.css}">
    <p>
        <span th:text="${contact_title} + ':'"></span>
        <a href="tel:0989999999" class="text-light">0989 999 999</a> | Email:
        <a href="mailto:lienhe@nhatro247.vn" class="text-light">lienhe@nhatro247.vn</a>
    </p>
</footer>
</body>
</html>