<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div class="container mt-3" th:fragment="story">
    <link rel="stylesheet" th:href="@{/css/lib/swiper-bundle.min.css}"/>
    <h5 class="mb-2" th:text="'📢 ' + ${news_events}"></h5>
    <div class="swiper mySwiper" id="story-container">
        <div class="swiper-wrapper" id="story-content"></div>
    </div>
    <script th:src="@{/js/lib/swiper-bundle.min.js}"></script>
    <script th:src="@{/js/story/DisplayStory.js}" type="module"></script>
</div>
</body>

</html>