<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div class="container mt-3" th:fragment="story">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
        <h5 class="mb-2" th:text="'📢 ' + ${news_events}"></h5>
        <div class="swiper mySwiper" id="story-container">
            <div class="swiper-wrapper" id="story-content"></div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
        <script>
            const swiper = new Swiper(".mySwiper", {
                slidesPerView: 4,
                spaceBetween: 15,
                freeMode: true,
                breakpoints: {
                    576: {
                        slidesPerView: 5
                    },
                    768: {
                        slidesPerView: 6
                    }
                }
            });

            fetch('/story/list')
                .then(response => response.json())
                .then(data => {
                    const container = document.getElementById('story-container')
                    const div = document.getElementById('story-content')
                    let content = ''
                    data.forEach((d) => {
                        content += `
                            <div class="swiper-slide text-center">
                                <img src="${d.thumbnailImg}" width="100" height="100"
                                        class="rounded-circle mb-1" alt="">
                                <div><small>${d.storyType}</small></div>
                            </div>`;
                    })
                    div.innerHTML = content
                    container.appendChild(div)
                })
                .catch(err => console.error('err when loading images ', err))
        </script>
    </div>
</body>

</html>